<!DOCTYPE html>
<html>
    <head>
            <script type='text/javascript' src='../static/js/jquery.js'></script>
    <script type='text/javascript' src='../static/js/underscore.js'></script>
    <script type='text/javascript' src='../static/js/backbone.min.js'></script>
        <script>

            $(function() {
                var Profile = Backbone.Model.extend();

                var ProfileList = Backbone.Collection.extend({
                    model: Profile,
                    url: 'profiles.json'
                });   
                var profiles = new ProfileList();    

                var ProfileView = Backbone.View.extend({
                    el: "#profiles",
                    template: _.template($('#profileTemplate').html()),
                    initialize:function(){
            //             profiles.fetch({
            // success:function(collection,response){
            //     collection.each(function(links){
            //         console.log(links.get('name'));
            //     });
            //     // console.log(this.co);
            //     return collection;
            // },
            // error:function(collection, response){
            //         console.log(collection);
            //         console.log(response);
            //         alert('get json error');
            //     }
            // });
                    profiles.fetch();
                    },
                    render: function(eventName) {
                        _.each(this.model.models, function(profile){
                            var profileTemplate = this.template(profile.toJSON());
                            $(this.$el).append(profileTemplate);
                        }, this);

                        return this;
                    }
                });

                var profilesView = new ProfileView({model: Profile});

                profilesView.render();

            });
        </script>
        <title>Fortified Studio</title>
    </head>
    <body>
        <div id="profiles"></div>


        <script id="profileTemplate" type="text/template">
            <div class="profile">
                <div class="info">
                    <div class="name">
                        <%= name %>
                    </div>
                    <div class="title">
                        <%= id %>
                    </div>
                    <div class="background">
                        <%= img %>
                    </div>
                </div>
            </div>

        </script>
    </body>
</html>
