/*//drag.css*/
/*//mrc*/
*{
	font-family: 'arial';
}

#drag,.drag{
	position: absolute;
	width: 101px;
	height: 101px;
	background: #000;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
	z-index: 2;
}

.drag.ui-draggable-dragging{
	z-index: 999;
}

.dragRotateLeft{
	-webkit-animation-name: dragRotateLeft;
	-webkit-animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	/*-webkit-animation-delay: 2s;*/
	/*-webkit-animation-timing-function: ease-in-out;*/
}

@-webkit-keyframes dragRotateLeft{
	 0%,20%,70%,90%{-webkit-transform:rotate(10deg);}
	 40%{-webkit-transform:rotate(5deg);}
	 10%,30%,50%,100%{-webkit-transform:rotate(-10deg);}
}

.stopShake{
	-webkit-animation-name: stopShake;
	-webkit-animation-duration: .2s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function:ease-out;
}
@-webkit-keyframes stopShake{
	 0%{margin-top: -5px;margin-left: -5px;-webkit-transform:rotate(1deg);}
	 /*50%{margin-top: -2px;margin-left: -2px;-webkit-transform:rotate(0deg);}*/
	 100%{margin-top: 0px;margin-left: 0px;-webkit-transform:rotate(0deg);}
}

#about{
	position: absolute;
	top:0;
	left:303px;
	width: 303px;
}

.drop{
	position: relative;
	width:100px;
	height:100px;
	border-right:1px solid #000;
	border-top:1px solid #000;
	background: #000;
	color: #fff;
	font-size: 12px;
	border-radius: 5px;
	z-index: 2;
	float: left;
	overflow: hidden;
}
.about-hidden{
	position: relative;
	width: 400px;
	height: 380px;
}
.about-hidden img{
	width: 400px;
	height: 380px;
}